// Variables
@import 'variables';
// Animations
@import "animation";
// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/utilities/align";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/borders";
//@import "~bootstrap/scss/utilities/clearfix";
@import "~bootstrap/scss/utilities/display";
//@import "~bootstrap/scss/utilities/embed";
@import "~bootstrap/scss/utilities/flex";
//@import "~bootstrap/scss/utilities/float";
//@import "~bootstrap/scss/utilities/overflow";
//@import "~bootstrap/scss/utilities/position";
//@import "~bootstrap/scss/utilities/screenreaders";
//@import "~bootstrap/scss/utilities/shadows";
@import "~bootstrap/scss/utilities/sizing";
//@import "~bootstrap/scss/utilities/stretched-link";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";
//@import "~bootstrap/scss/utilities/visibility";
//@import "~bootstrap/scss/print";
// Font Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// Dropzone
@import "dropzone";

html,
body,
main {
  height: 100%;
}

body {
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("../svg/971.svg") no-repeat 90% 90%;
    background-size: 40%;
    content: '';
    position: fixed;
  }
}

code {
  font-size: 9px;
}

.navbar-laravel {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: url("../svg/m.svg") no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid #444;
}

.main {
  width: 100%;
  table-layout: fixed;
  display: table;

  &-top,
  &-middle {
    display: table-row;

    &-content {
      display: table-cell;
    }
  }

  &-middle {
    height: 100%;
  }
}

.card {
  border: 1px solid black;
  box-shadow: 0 0 30px rgba(black, .5);

  &-box {
    min-height: 100%;
  }

  &-body {
    z-index: 99;

    &-number {
      font-size: 5rem;
      font-weight: bold;
      line-height: 1;
    }
  }

  &-a, &-b, &-c {
    &:before, &:after {
      content: '';
      z-index: -99;
      position: absolute;
    }

    & > .card-body i {
      background-clip: text !important;
      color: transparent;
    }
  }

  &-a {
    &:before {
      top: -1px;
      left: -5px;
      width: 5px;
      height: 40%;
      background: map_get($colors, 'teal');
    }

    &:after {
      top: 90%;
      left: -8px;
      width: 8px;
      height: 10%;
      background: map_get($colors, 'blue');
    }

    & > .card-body i {
      background: linear-gradient(map_get($colors, 'teal'), map_get($colors, 'blue'));
    }
  }

  &-b {
    &:before {
      top: -5px;
      right: -5px;
      width: 5%;
      height: 5%;
      background: map_get($colors, 'blue');
    }

    &:after {
      bottom: -5px;
      left: -5px;
      width: 30%;
      height: 30%;
      background: map_get($colors, 'purple');
    }

    & > .card-body i {
      background: linear-gradient(map_get($colors, 'blue'), map_get($colors, 'purple'));
    }
  }

  &-c {
    &:before {
      top: -1px;
      right: -5px;
      width: 5px;
      height: 40%;
      background: map_get($colors, 'blue');
    }

    &:after {
      bottom: -8px;
      right: -1px;
      width: 30%;
      height: 8px;
      background: map_get($colors, 'teal');
    }

    & > .card-body i {
      background: linear-gradient(map_get($colors, 'blue'), map_get($colors, 'teal'));
    }
  }
}

.row > div {
  padding: 15px;
}
