@import "~spectre.css/src/spectre";
@import "~spectre.css/src/spectre-exp";
@import "~spectre.css/src/spectre-icons";

.cms {
  &-navbar {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }

  &-index {
    padding-top: 10%;

    &--icon {
      font-size: 3rem;
    }

    &--cards {
      background: #e6e6e6;
      border-radius: 10px;
      color: #66758c;
      text-align: center;
      padding-top: 1.6rem;
      padding-bottom: 0.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      transition: 500ms;

      &:hover {
        transition: 500ms;
        background: #d4d4d4;
      }
    }
  }
}
